[package]
name = "python_rust_compiled_function"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "my_polars_functions"
crate-type = ["cdylib"]

[dependencies]
polars = { path = "../../crates/polars" }
polars-arrow = { path = "../../crates/polars-arrow" }

pyo3 = { version = "0.19", features = ["extension-module"] }
