[package]
name = "polars-lazy"
version = "0.15.1"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Lazy query engine for the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# make sure we don't compile unneeded things even though
# this dependency gets activated
compile = []
default = ["compile"]
parquet = ["polars-core/parquet", "polars-io/parquet"]
csv-file = ["polars-io/csv-file"]
temporal = ["polars-core/temporal"]
# debugging purposesses
fmt = ["polars-core/plain_fmt"]
future = []
dtype-u8 = ["polars-core/dtype-u8"]
dtype-u16 = ["polars-core/dtype-u16"]
dtype-u64 = ["polars-core/dtype-u64", "polars-io/dtype-u64"]
dtype-i8 = ["polars-core/dtype-i8"]
dtype-i16 = ["polars-core/dtype-i16"]
dtype-date32 = ["polars-core/dtype-date32"]
dtype-date64 = ["polars-core/dtype-date64"]
# uncomment to have datafusion integration
# when uncommenting we both need to point to the same arrow version
#ooc = ["datafusion", "tokio"]

# operations
is_in = ["polars-core/is_in"]
repeat_by = ["polars-core/repeat_by"]
round_series = ["polars-core/round_series"]
is_first = ["polars-core/is_first"]
cross_join = ["polars-core/cross_join"]
dot_product = ["polars-core/dot_product"]
concat_str = ["polars-core/concat_str"]
mode = ["polars-core/mode"]
cum_agg = ["polars-core/cum_agg"]
interpolate = ["polars-core/interpolate"]
rolling_window = ["polars-core/rolling_window"]
rank = ["polars-core/rank"]
diff = ["polars-core/diff"]

# no guarantees whatsoever
private = []

[dependencies]
ahash = "0.7"
rayon = "1.5"
itertools = "0.10"
regex = {version = "1.4", optional = true}

polars-io = {version = "0.15.1", path = "../polars-io", features = ["lazy", "csv-file", "private"], default-features=false}
polars-core = {version = "0.15.1", path = "../polars-core", features = ["lazy", "private", "zip_with"], default-features=false}
polars-arrow = {version = "0.15.1", path = "../polars-arrow"}
# uncomment to have datafusion integration
# when uncommenting we both need to point to the same arrow version
# datafusion = {version="4.0.0-SNAPSHOT", git = "https://github.com/apache/arrow-datafusion", rev = "88222b7", default-features=false, optional=true}
# tokio = { version = "1.0", features = ["macros", "rt", "rt-multi-thread", "sync"] , optional=true}

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
