[package]
name = "polars-lazy"
version = "0.12.0-beta.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
parquet = ["polars-core/parquet", "polars-io/parquet"]

[dependencies]
ahash = "0.5"
rayon = "1.5"
itertools = "^0.9.0"

polars-io = {version = "0.12.0-beta.0", path = "../polars-io", features = ["lazy"]}
polars-core = {version = "0.12.0-beta.0", path = "../polars-core", features = ["lazy"]}
