[package]
name = "polars-lazy"
version = "0.12.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Lazy query engine for the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
parquet = ["polars-core/parquet", "polars-io/parquet"]
temporal = ["polars-core/temporal"]
# debugging purposesses
fmt = ["polars-core/plain_fmt"]

[dependencies]
ahash = "0.7"
rayon = "1.5"
itertools = "0.10"

polars-io = {version = "0.12.0", path = "../polars-io", features = ["lazy"], default-features=false}
polars-core = {version = "0.12.0", path = "../polars-core", features = ["lazy"], default-features=false}
polars-arrow = {version = "0.12.0", path = "../polars-arrow"}

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
