[package]
name = "polars-lazy"
version = "0.19.1"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/pola-rs/polars"
description = "Lazy query engine for the Polars DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# make sure we don't compile unneeded things even though
# this depeadency gets activated
compile = []
default = ["compile", "private"]
parquet = ["polars-core/parquet", "polars-io/parquet"]
ipc = ["polars-io/ipc"]
csv-file = ["polars-io/csv-file"]
temporal = ["polars-core/temporal", "polars-time", "dtype-datetime"]
# debugging purposesses
fmt = ["polars-core/fmt"]
strings = ["polars-core/strings"]
future = []
dtype-u8 = ["polars-core/dtype-u8"]
dtype-u16 = ["polars-core/dtype-u16"]
dtype-i8 = ["polars-core/dtype-i8"]
dtype-i16 = ["polars-core/dtype-i16"]
dtype-date = ["polars-core/dtype-date"]
dtype-datetime = ["polars-core/dtype-datetime"]
dtype-duration = ["polars-core/dtype-duration"]
dtype-categorical = ["polars-core/dtype-categorical"]
dtype-struct = ["polars-core/dtype-struct"]
object = ["polars-core/object"]
# uncomment to have datafusion integration
# when uncommenting we both need to point to the same arrow version
# ooc = ["datafusion", "tokio"]
true_div = []

# operations
is_in = ["polars-core/is_in"]
repeat_by = ["polars-core/repeat_by"]
round_series = ["polars-core/round_series"]
is_first = ["polars-core/is_first"]
cross_join = ["polars-core/cross_join"]
asof_join = ["polars-core/asof_join", "polars-time"]
dot_product = ["polars-core/dot_product"]
concat_str = ["polars-core/concat_str"]
arange = []
mode = ["polars-core/mode"]
cum_agg = ["polars-core/cum_agg"]
interpolate = ["polars-core/interpolate"]
rolling_window = ["polars-core/rolling_window"]
rank = ["polars-core/rank"]
diff = ["polars-core/diff"]
pct_change = ["polars-core/pct_change"]
moment = ["polars-core/moment"]
list = ["polars-core/list"]
abs = ["polars-core/abs"]
random = ["polars-core/random"]
dynamic_groupby = ["polars-core/dynamic_groupby"]
ewma = ["polars-core/ewma"]
dot_diagram = []

# no guarantees whatsoever
private = ["polars-time/private"]

bigidx = ["polars-arrow/bigidx", "polars-core/bigidx", "polars-utils/bigidx"]

panic_on_schema = []

test = [
  "panic_on_schema",
  "private",
  "rolling_window",
  "rank",
  "list",
  "round_series",
  "csv-file",
  "dtype-categorical",
  "cum_agg",
  "regex",
  "polars-core/fmt",
  "diff",
  "abs",
  "parquet",
  "ipc",
]

[dependencies]
ahash = "0.7"
glob = "0.3"
parking_lot = "0.12"
rayon = "1.5"
regex = { version = "1.5", optional = true }

polars-arrow = { version = "0.19.1", path = "../polars-arrow" }
polars-core = { version = "0.19.1", path = "../polars-core", features = ["lazy", "private", "zip_with"], default-features = false }
polars-io = { version = "0.19.1", path = "../polars-io", features = ["lazy", "csv-file", "private"], default-features = false }
polars-time = { version = "0.1.1", path = "../polars-time", optional = true }
polars-utils = { version = "0.1.0", path = "../polars-utils" }
# uncomment to have datafusion integration
# when uncommenting we both need to point to the same arrow version
# datafusion = {version="4.0.0-SNAPSHOT", git = "https://github.com/apache/arrow-datafusion", rev = "88222b7", default-features=false, optional=true}
# tokio = { version = "1.0", features = ["macros", "rt", "rt-multi-thread", "sync"] , optional=true}

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
