maturin==0.11.0
pytest==5.3.1
black==21.6b0
isort~=5.9.2
mypy~=0.910
numpy
pyarrow
ghp-import
pandas
flake8
sphinx
pydata-sphinx-theme==0.6.3
sphinx-panels==0.6.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-napoleon
commonmark==0.9.1
numpydoc

