# We're pinning our tooling, because it's an environment we can strictly control.
# We're not pinning package dependencies, because our tests need to pass with the
# latest version of the packages.

# Dependencies
numpy
pyarrow
pandas
pytz
types-pytz

# Tooling
maturin==0.13.0
pytest==7.1.2
pytest-cov==3.0.0
hypothesis==6.49.1
black==22.6.0
blackdoc==0.3.5
isort~=5.10.1
mypy==0.971
flake8==5.0.2
flake8-bugbear==22.7.1
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-simplify==0.19.3
ghp-import==2.1.0
sphinx==4.3.2
pydata-sphinx-theme==0.9.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sphinxcontrib-napoleon==0.7
commonmark==0.9.1
numpydoc==1.4.0

# Stub files
pandas-stubs==1.2.0.61
