[package]
name = "py-polars"
version = "0.6.7"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/ritchie46/polars"
license = "MIT"
documentation = "https://ritchie46.github.io/polars-book/"
homepage = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
polars = {path = "../polars", features = ["parquet", "simd", "lazy", "strings", "temporal", "random", "object", "ipc", "pretty_fmt", "mimalloc", "performant", "dtype-full"]}
polars-core = {path = "../polars/polars-core", default-features = false}
pyo3 = {version = "0.13", features = ["abi3-py36", "extension-module"] }
libc = "0.2"
thiserror = "1.0.20"
numpy = "0.13.0"
ndarray = "0.14.0"

[lib]
name = "polars"
crate-type = ["cdylib"]


[package.metadata.maturin]
name = "polars"
requires-dist = ["numpy", "pyarrow==3.0"]

[profile.release]
codegen-units = 1

target-cpu = "native"
lto = "fat"

#[profile.dev]
#opt-level = 1
