[package]
name = "py-polars"
version = "0.12.6"
authors = ["ritchie46 <ritchie46@gmail.com>"]
documentation = "https://pola-rs.github.io/polars/py-polars/html/reference/index.html"
edition = "2018"
homepage = "https://github.com/pola-rs/polars"
license = "MIT"
readme = "README.md"
repository = "https://github.com/pola-rs/polars"
description = "Blazingly fast DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
# prevents package from thinking it's in the workspace

[dependencies]
ahash = "0.7"
bincode = "1.3"
libc = "0.2"
mimalloc = { version = "*", default-features = false }
ndarray = "0.15"
numpy = "0.15"
polars-core = { path = "../polars/polars-core", default-features = false }
pyo3 = { version = "0.15", features = ["abi3-py36", "extension-module", "multiple-pymethods"] }
serde_json = { version = "1", optional = true }
thiserror = "1.0.20"

[patch.crates-io]
pyo3 = { git = "https://github.com/ghuls/pyo3", branch = "polars_pypy_hasattr" }

# features are only there to enable building a slim binary for the benchmark in CI
[features]
parquet = ["polars/parquet"]
pivot = ["polars/pivot"]
ipc = ["polars/ipc"]
is_in = ["polars/is_in"]
json = ["polars/serde", "serde_json"]

default = ["pivot", "json", "parquet", "ipc", "is_in", "json", "polars/repeat_by"]

[dependencies.polars]
path = "../polars"
default-features = false
features = [
  "dynamic_groupby",
  "zip_with",
  "simd",
  "lazy",
  "strings",
  "temporal",
  "random",
  "object",
  "csv-file",
  "pretty_fmt",
  "performant",
  "dtype-full",
  "rows",
  "private",
  "round_series",
  "is_first",
  "asof_join",
  "cross_join",
  "dot_product",
  "concat_str",
  "row_hash",
  "reinterpret",
  "decompress-fast",
  "mode",
  "extract_jsonpath",
  "lazy_regex",
  "cum_agg",
  "rolling_window",
  "interpolate",
  "list",
  "rank",
  "diff",
  "pct_change",
  "moment",
  "arange",
  "true_div",
  "dtype-categorical",
  "diagonal_concat",
  "horizontal_concat",
  "abs",
  "ewma",
  "dot_diagram",
  "dataframe_arithmetic",
  "json",
]

# [patch.crates-io]
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd" }

[lib]
name = "polars"
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1

# This is ignored here; would be set in .cargo/config.toml.
# Should not be used when packaging
# target-cpu = "native"
lto = "fat"
