[package]
name = "py-polars"
version = "0.1.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
polars = {path = "../polars", features = ["parquet", "simd", "lazy", "strings", "temporal", "random", "object"]}
pyo3 = {version = "0.12", features = ["extension-module"] }
thiserror = "1.0.20"
numpy = "0.12"
ndarray = "0.14.0"
parquet = "2"


[lib]
name = "pypolars"
crate-type = ["cdylib"]


[package.metadata.maturin]
requires-dist = ["numpy"]

[profile.release]
codegen-units = 1
target-cpu = "native"
lto = "fat"

[profile.dev]
opt-level = 1