[package]
name = "py-polars"
version = "0.8.26"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/ritchie46/polars"
license = "MIT"
documentation = "https://ritchie46.github.io/polars-book/"
homepage = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[workspace]
# prevents package from thinking it's in the workspace

[dependencies]
polars-core = {path = "../polars/polars-core", default-features = false}
pyo3 = {version = "0.14", features = ["abi3-py36", "extension-module", "multiple-pymethods"] }
libc = "0.2"
thiserror = "1.0.20"
numpy = "0.14"
ndarray = "0.15"
mimalloc = { version = "*", default-features = false}
serde_json = { version = "1", optional = true }
ahash = "0.7"
bincode = "1.3"

# features are only there to enable building a slim binary for the benchmark in CI
[features]
parquet = ["polars/parquet"]
pivot = ["polars/pivot"]
ipc = ["polars/ipc"]
downsample = ["polars/downsample"]
is_in = ["polars/is_in"]
json = ["polars/serde", "serde_json"]

default = ["pivot", "json", "parquet", "downsample", "ipc", "is_in", "json", "polars/repeat_by"]

[dependencies.polars]
path = "../polars"
features = [
    "zip_with",
    "simd",
    "lazy",
    "strings",
    "temporal",
    "random",
    "object",
    "csv-file",
    "pretty_fmt",
    "performant",
    "dtype-full",
    "rows",
    "private",
    "round_series",
    "is_first",
    "asof_join",
    "cross_join",
    "dot_product",
    "concat_str",
    "row_hash",
    "reinterpret",
    "decompress",
    "mode",
    "extract_jsonpath",
    "lazy_regex",
    "cum_agg",
    "rolling_window",
    "interpolate",
    "list",
    "rank",
    "diff"
]

#[patch.crates-io]
#packed_simd_2 = { git = 'https://github.com/rust-lang/packed_simd' }

[lib]
name = "polars"
crate-type = ["cdylib"]

[profile.release]
codegen-units = 1

# This is ignored here; would be set in .cargo/config.toml.
# Should not be used when packaging
# target-cpu = "native"
lto = "fat"
