[build-system]
requires = ["maturin>=0.12,<0.13"]
build-backend = "maturin"

[project]
name = "polars"
dependencies = [
  "numpy >= 1.16.0",
  "typing_extensions; python_version < '3.8'",
]
requires-python = ">=3.6"

[project.optional-dependencies]
# the Arrow memory format is stable between 4.0 and 5.0-SNAPSHOTS
# (which the Rust libraries use to take advantage of Rust API changes).
pyarrow = ["pyarrow>=4.0.*"]
pandas = ["pyarrow>=4.0.*", "pandas"]
fsspec = ["fsspec"]
connectorx = ["connectorx"]

[tool.isort]
profile = "black"

[tool.mypy]
ignore_missing_imports = true
disallow_untyped_defs = true
files = ["polars", "tests"]

[tool.coverage.report]
exclude_lines = ["pragma: no cover", "@overload", "@tp.overload"]
