[build-system]
requires = ["maturin>=0.13,<0.14"]
build-backend = "maturin"

[project]
name = "polars"
dependencies = [
  "typing_extensions >= 4.0.0; python_version < '3.10'",
]
requires-python = ">=3.7"

[project.optional-dependencies]
# the Arrow memory format is stable between 4.0 and 5.0-SNAPSHOTS
# (which the Rust libraries use to take advantage of Rust API changes).
pyarrow = ["pyarrow>=4.0.*"]
pandas = ["pyarrow>=4.0.*", "pandas"]
numpy = ["numpy >= 1.16.0"]
fsspec = ["fsspec"]
connectorx = ["connectorx"]
xlsx2csv = ["xlsx2csv >= 0.8.0"]

[tool.isort]
profile = "black"

[tool.mypy]
files = ["polars", "tests"]
namespace_packages = true
show_error_codes = true

warn_unused_configs = true
disallow_subclassing_any = true
disallow_untyped_defs = true
no_implicit_optional = true
warn_unused_ignores = true
strict_concatenate = true
# TODO: Uncomment flags below and fix mypy errors
# disallow_any_generics = true
disallow_untyped_calls = true
warn_redundant_casts = true
# warn_return_any = true
no_implicit_reexport = true
# strict_equality = true
# TODO: When all flags are enabled, replace by strict = true
enable_error_code = [
  "redundant-expr",
  "truthy-bool",
  "ignore-without-code",
]

[[tool.mypy.overrides]]
module = ["pyarrow.*", "polars.polars", "matplotlib.*", "fsspec.*", "connectorx", "IPython.*"]
ignore_missing_imports = true

[tool.coverage.report]
exclude_lines = [
  "pragma: no cover",
  "@overload",
  "except ImportError",
  "if TYPE_CHECKING:",
  "from typing_extensions import ",
]
