# -------------------------------------------------------
# Packages that we require for unit tests that run on CI
# (installable via `make requirements-all`)
# -------------------------------------------------------
--extra-index-url https://download.pytorch.org/whl/cpu
torch; python_version < '3.13' or platform_system != 'Windows'  # torch provides no wheel for Python 3.13 on Windows
jax[cpu]
pyiceberg>=0.5.0
