black==22.8.0
blackdoc==0.3.7
flake8==5.0.4
flake8-bugbear==22.10.25
flake8-comprehensions==3.10.0
flake8-docstrings==1.6.0
flake8-simplify==0.19.3
flake8-tidy-imports==4.8.0
isort==5.10.1
pyupgrade==3.1.0
