# -------------------------------------------------------
# Packages that we require for unit tests that run on CI
# (installable via `make requirements-all`)
# -------------------------------------------------------
torch
jax[cpu]
pyiceberg>=0.7.1
