*.iml
*.so
*.ipynb
.ENV
.env
.ipynb_checkpoints/
.python-version
.yarn/
coverage.lcov
coverage.xml
data/
polars/vendor

# OS
.DS_Store

# IDE
.idea/
.vscode/
.vim

# Python
.hypothesis/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv*/
__pycache__/
.coverage

# Rust
target/

# Project
/docs/data/
/docs/images/
/docs/people.md

# Windows
/py-polars/rust-toolchain
