.idea/
.vscode/
target/
Cargo.lock
data/
__pycache__/
.ipynb_checkpoints/
polars/vendor
*.so
.ENV
.env
AUTO_CHANGELOG.md
node_modules/
.coverage
.hypothesis
venv/
*.iml
coverage.lcov
coverage.xml
.DS_Store
.python-version
