[workspace]
resolver = "2"
members = [
  "crates/*",
  "contribution/*",
  "examples/*",
]
default-members = [
  "crates/*",
]
exclude = [
  "examples/datasets",
]

[workspace.package]
version = "0.32.0"
authors = ["Ritchie Vink <ritchie46@gmail.com>"]
edition = "2021"
homepage = "https://www.pola.rs/"
repository = "https://github.com/pola-rs/polars"
license = "MIT"

[workspace.dependencies]
ahash = "0.8"
atoi = "2"
bitflags = "2"
chrono = { version = "0.4", default-features = false, features = ["std"] }
chrono-tz = "0.8.1"
ciborium = "0.2"
either = "1.8"
futures = "0.3.25"
hashbrown = { version = "0.14", features = ["rayon", "ahash"] }
indexmap = { version = "2", features = ["std"] }
memchr = "2"
multiversion = "0.7"
num-traits = "0.2"
object_store = { version = "0.6", default-features = false }
once_cell = "1"
pyo3 = "0.19"
rand = "0.8"
rayon = "1.6"
regex = "1.7.1"
serde = "1.0.160"
serde_json = "1"
simd-json = { version = "0.10", features = ["allow-non-simd", "known-key"] }
smartstring = "1"
sqlparser = "0.36"
strum_macros = "0.25"
thiserror = "1"
url = "2.3.1"
version_check = "0.9.4"
xxhash-rust = { version = "0.8.6", features = ["xxh3"] }

[workspace.dependencies.arrow]
package = "arrow2"
git = "https://github.com/jorgecarleitao/arrow2"
rev = "7edf5f9e359e0ed02e9d0c6b9318b06964d805f0"
# branch = ""
# version = "0.17.4"
default-features = false
features = [
  "compute_aggregate",
  "compute_arithmetics",
  "compute_boolean",
  "compute_boolean_kleene",
  "compute_cast",
  "compute_comparison",
  "compute_concatenate",
  "compute_filter",
  "compute_if_then_else",
]

[patch.crates-io]
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd", rev = "e57c7ba11386147e6d2cbad7c88f376aab4bdc86" }
# simd-json = { git = "https://github.com/ritchie46/simd-json", branch = "alignment" }
