[workspace]
members = [
  "polars",
  "polars/polars-core",
  "polars/polars-io",
  "polars/polars-time",
  "polars/polars-utils",
  "polars/polars-ops",
  "polars/polars-algo",
  "polars/polars-pipe",
  "polars/polars-lazy",
  "polars/polars-lazy/polars-plan",
  "polars-sql",
  "examples/read_csv",
  "examples/read_parquet",
  "examples/python_rust_compiled_function",
]

[workspace.package]
version = "0.24.3"

[workspace.dependencies]
rayon = "1.5"
thiserror = "^1"
num = "0.4"
ahash = "0.7"
# todo! remove
anyhow = "1"
hashbrown = { version = "0.12", features = ["rayon"] }
bitflags = "1.3"

[workspace.dependencies.arrow]
package = "arrow2"
# git = "https://github.com/jorgecarleitao/arrow2"
# git = "https://github.com/ritchie46/arrow2"
# rev = "6c102a0c3e2dbeb185360dd3d5c3637b5e2028fd"
# path = "../../../arrow2"
# branch = "comparison_and_validity"
version = "0.14.1"
default-features = false
features = [
  "compute_aggregate",
  "compute_arithmetics",
  "compute_boolean",
  "compute_boolean_kleene",
  "compute_cast",
  "compute_comparison",
  "compute_concatenate",
  "compute_filter",
  "compute_if_then_else",
]

[patch.crates-io]
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd", rev = "e57c7ba11386147e6d2cbad7c88f376aab4bdc86" }
