[workspace]
members = [
  "polars",
  "polars-cli",
  "polars/polars-core",
  "polars/polars-io",
  "polars/polars-time",
  "polars/polars-utils",
  "polars/polars-ops",
  "polars/polars-algo",
  "polars/polars-lazy",
  "polars/polars-lazy/polars-plan",
  "polars/polars-lazy/polars-pipe",
  "polars/polars-sql",
  "polars/polars-error",
  "polars/polars-row",
  "examples/read_csv",
  "examples/read_parquet",
  "examples/read_parquet_cloud",
  "examples/string_filter",
  "examples/python_rust_compiled_function",
]

[workspace.package]
version = "0.28.0"

[workspace.dependencies]
rayon = "1.6"
thiserror = "^1"
num-traits = "0.2"
ahash = "0.8"
xxhash-rust = { version = "0.8.6", features = ["xxh3"] }
hashbrown = { version = "0.13.1", features = ["rayon", "ahash"] }
bitflags = "1.3"
once_cell = "1"
memchr = "2"
smartstring = { version = "1" }
multiversion = "0.7"
either = "1.8"

[workspace.dependencies.arrow]
package = "arrow2"
# git = "https://github.com/jorgecarleitao/arrow2"
git = "https://github.com/ritchie46/arrow2"
# rev = "1491c6e8f4fd100f53c358e4f3ef1536d9e75090"
# path = "../arrow2"
branch = "polars_2023-04-27"
version = "0.17"
default-features = false
features = [
  "compute_aggregate",
  "compute_arithmetics",
  "compute_boolean",
  "compute_boolean_kleene",
  "compute_cast",
  "compute_comparison",
  "compute_concatenate",
  "compute_filter",
  "compute_if_then_else",
]
[patch.crates-io]
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd", rev = "e57c7ba11386147e6d2cbad7c88f376aab4bdc86" }
simd-json = { git = "https://github.com/ritchie46/simd-json", branch = "alignment" }
