[workspace]
resolver = "2"
members = [
  "crates/*",
  "contribution/*",
  "examples/*",
]
default-members = [
  "crates/*",
]
exclude = [
  "examples/datasets",
]

[workspace.package]
version = "0.33.2"
authors = ["Ritchie Vink <ritchie46@gmail.com>"]
edition = "2021"
homepage = "https://www.pola.rs/"
repository = "https://github.com/pola-rs/polars"
license = "MIT"

[workspace.dependencies]
ahash = "0.8"
atoi = "2"
bitflags = "2"
bytemuck = { version = "1", features = ["derive", "extern_crate_alloc"] }
chrono = { version = "0.4", default-features = false, features = ["std"] }
chrono-tz = "0.8.1"
ciborium = "0.2"
either = "1.9"
futures = "0.3.25"
hashbrown = { version = "0.14", features = ["rayon", "ahash"] }
indexmap = { version = "2", features = ["std"] }
memchr = "2.6.1"
multiversion = "0.7"
num-traits = "0.2"
object_store = { version = "0.7", default-features = false }
once_cell = "1"
pyo3 = "0.19"
rand = "0.8"
rayon = "1.6"
regex = "1.7.1"
serde = "1.0.160"
serde_json = "1"
simd-json = { version = "0.10", features = ["allow-non-simd", "known-key"] }
smartstring = "1"
sqlparser = "0.36"
strum_macros = "0.25"
thiserror = "1"
url = "2.3.1"
version_check = "0.9.4"
simdutf8 = "0.1.4"
hex = "0.4.3"
base64 = "0.21.2"
fallible-streaming-iterator = "0.1.9"
streaming-iterator = "0.1.9"
itoa = "1.0.6"
ryu = "1.0.13"
lexical-core = "0.8.5"
xxhash-rust = { version = "0.8.6", features = ["xxh3"] }
polars-core = { version = "0.33.2", path = "crates/polars-core", default-features = false }
polars-arrow = { version = "0.33.2", path = "crates/polars-arrow", default-features = false }
polars-plan = { version = "0.33.2", path = "crates/polars-plan", default-features = false }
polars-lazy = { version = "0.33.2", path = "crates/polars-lazy", default-features = false }
polars-pipe = { version = "0.33.2", path = "crates/polars-pipe", default-features = false }
polars-row = { version = "0.33.2", path = "crates/polars-row", default-features = false }
polars-ffi = { version = "0.33.2", path = "crates/polars-ffi", default-features = false }
polars-ops = { version = "0.33.2", path = "crates/polars-ops", default-features = false }
polars-sql = { version = "0.33.2", path = "crates/polars-sql", default-features = false }
polars-algo = { version = "0.33.2", path = "crates/polars-algo", default-features = false }
polars-time = { version = "0.33.2", path = "crates/polars-time", default-features = false }
polars-utils = { version = "0.33.2", path = "crates/polars-utils", default-features = false }
polars-io = { version = "0.33.2", path = "crates/polars-io", default-features = false }
polars-error = { version = "0.33.2", path = "crates/polars-error", default-features = false }
polars-json = { version = "0.33.2", path = "crates/polars-json", default-features = false }
polars = { version = "0.33.2", path = "crates/polars", default-features = false }

[workspace.dependencies.arrow]
package = "nano-arrow"
version = "0.1.0"
path = "crates/nano-arrow"
default-features = false
features = [
  "compute_aggregate",
  "compute_arithmetics",
  "compute_boolean",
  "compute_boolean_kleene",
  "compute_cast",
  "compute_comparison",
  "compute_concatenate",
  "compute_filter",
  "compute_if_then_else",
]

[patch.crates-io]
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd", rev = "e57c7ba11386147e6d2cbad7c88f376aab4bdc86" }
# simd-json = { git = "https://github.com/ritchie46/simd-json", branch = "alignment" }
