[workspace]
members = [
  "polars",
  "polars/polars-core",
  "polars/polars-io",
  "polars/polars-lazy",
  "polars/polars-time",
  "polars/polars-utils",
  "polars/polars-ops",
  "polars/polars-algo",
  "examples/read_csv",
  "examples/read_parquet",
  "examples/python_rust_compiled_function",
]

[patch.crates-io]
parquet-format-safe = { git = "https://github.com/ritchie46/parquet-format-safe", branch = "patch-1" }
parquet2 = { git = "https://github.com/ritchie46/parquet2", branch = "tmp" }
# packed_simd_2 = { git = "https://github.com/rust-lang/packed_simd", rev = "e57c7ba11386147e6d2cbad7c88f376aab4bdc86" }
