pandas
pyarrow
graphviz
matplotlib
seaborn
plotly
altair
numba
# Unpin NumPy when support is implemented in numpy crate:
# https://github.com/pola-rs/polars/issues/16998
numpy<2

mkdocs-material==9.5.27
mkdocs-macros-plugin==1.0.5
mkdocs-redirects==1.2.1
material-plausible-plugin==0.2.0
markdown-exec[ansi]==1.9.3
pygithub==2.3.0
