[package]
name = "polars-cli"
version = "0.28.0"
edition = "2021"
license = "MIT"
repository = "https://github.com/pola-rs/polars"
description = "CLI interface for running SQL queries via Polars"

[[bin]]
name = "polars"
path = "src/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
csv = ["polars-lazy/csv-file"]
json = ["polars-lazy/json"]
default = []
ipc = ["polars-lazy/ipc"]
parquet = ["polars-lazy/parquet"]

[dependencies]
polars-arrow = { version = "0.28.0", path = "../polars-arrow", features = ["like"] }
polars-core = { version = "0.28.0", path = "../polars-core", features = [] }
polars-lazy = { version = "0.28.0", path = "../polars-lazy", features = ["compile", "strings", "cross_join", "trigonometry", "abs", "round_series", "log", "regex", "is_in", "meta"] }
polars-plan = { version = "0.28.0", path = "../polars-lazy/polars-plan", features = ["compile"] }
serde = "1"
serde_json = { version = "1" }
sqlparser = { version = "0.30" }

