[package]
name = "polars-sql"
version = "0.2.1"
edition = "2021"
license = "MIT"
repository = "https://github.com/pola-rs/polars"
description = "Lazy query engine for the Polars DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = []
cli = ["csv", "polars-lazy/fmt", "atty"]
csv = ["polars-lazy/csv-file"]
parquet = ["polars-lazy/parquet", "polars-lazy/dtype-binary"]

[dependencies]
polars-arrow = { version = "0.25.1", path = "../polars-arrow", features = ["like"] }
polars-core = { version = "0.25.1", path = "../polars-core", features = [] }
polars-lazy = { version = "0.25.1", path = "../polars-lazy", features = ["compile", "strings", "cross_join"] }
polars-plan = { version = "0.25.1", path = "../polars-lazy/polars-plan", features = ["compile"] }
serde = "1"
serde_json = { version = "1" }
sqlparser = { version = "0.19" }
atty = { version = "0.2", optional = true }
