[package]
name = "polars-core"
version = "0.12.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Core of the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
simd = ["arrow/avx512", "arrow/simd"]
docs = []
temporal = ["chrono", "regex"]
random = ["rand", "rand_distr"]
default = ["docs", "temporal", "simd", "lazy", "parquet"]
lazy = []
parallel = []
# extra utilities for Utf8Chunked
strings = ["regex"]
# support for ObjectChunked<T> (downcastable Series of any type)
object = ["serde_json"]

[dependencies]
arrow = {version = "3.0.0" }
parquet = {version = "3.0.0", optional = true }
thiserror = "^1.0.16"
num = "^0.3.1"
itertools = "^0.9.0"
unsafe_unwrap = "^0.1.0"
rayon = "1.5"
comfy-table = { version="1"}
chrono = {version = "^0.4.13", optional = true}
rand = {version = "0.7", optional = true}
rand_distr = {version = "0.3", optional = true}
ndarray = {version = "0.13", optional = true, default_features = false}
regex = {version = "1.4", optional = true}
serde_json = {version = "1.0", optional = true }
anyhow = "1.0"
ahash = "0.6"
num_cpus = "1.13.0"
lazy_static = "1.4"
hashbrown = {version = "0.9.1", features = ["rayon"] }
polars-arrow = {version = "0.12.0", path = "../polars-arrow"}
