[package]
name = "polars-core"
version = "0.12.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Core of the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
simd = ["arrow/simd"]
docs = []
temporal = ["chrono", "regex"]
random = ["rand", "rand_distr"]
default = ["docs", "temporal", "lazy", "parquet", "performant", "plain_fmt"]
lazy = []
parallel = []
performant = []
# extra utilities for Utf8Chunked
strings = ["regex"]
# support for ObjectChunked<T> (downcastable Series of any type)
object = ["serde_json"]
# Cannot have mutually exclusive types. User should choose one of:
pretty_fmt = ["comfy-table"]
plain_fmt = ["prettytable-rs"]
dtype-tns = []

[dependencies]
arrow = {version="4.0.0-SNAPSHOT", git = "https://github.com/apache/arrow", rev = "0f647261058892289b1722e5883f8610cc5dd3d9", default-features=false}
parquet = {version = "4.0.0-SNAPSHOT", optional = true, git = "https://github.com/apache/arrow", rev = "0f647261058892289b1722e5883f8610cc5dd3d9"}
thiserror = "^1.0.16"
num = "^0.3.1"
itertools = "0.10"
unsafe_unwrap = "^0.1.0"
rayon = "1.5"
comfy-table = { version="1", optional = true}
prettytable-rs = {version = "0.8.0", optional = true }
chrono = {version = "0.4", optional = true}
rand = {version = "0.7", optional = true}
rand_distr = {version = "0.3", optional = true}
ndarray = {version = "0.13", optional = true, default_features = false}
regex = {version = "1.4", optional = true}
serde_json = {version = "1.0", optional = true }
anyhow = "1.0"
ahash = "0.7"
num_cpus = "1.13"
lazy_static = "1.4"
hashbrown = {version = "0.9.1", features = ["rayon"] }
polars-arrow = {version = "0.12.0", path = "../polars-arrow"}

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
