[package]
name = "polars-core"
version = "0.13.4"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "Core of the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
simd = ["arrow/simd"]
avx512 = ["arrow/avx512"]
docs = []
temporal = ["chrono", "regex"]
random = ["rand", "rand_distr"]
default = ["docs", "temporal", "performant"]
lazy = ["sort_multiple"]

# commented out until UB is fixed
#parallel = []

# ~40% faster collect, needed until trustedlength iter stabilizes
performant = []

# extra utilities for Utf8Chunked
strings = ["regex"]

# support for ObjectChunked<T> (downcastable Series of any type)
object = ["serde_json"]

# Cannot have mutually exclusive types. User should choose one of:
pretty_fmt = ["comfy-table"]
plain_fmt = ["prettytable-rs"]

# opt-in features
# pivot operation on DataFrame
pivot = []
# resample operation on DataFrame
downsample = ["temporal", "dtype-date64"]
# sort by multiple columns
sort_multiple = []
# is_in operation
is_in = []
# dont use this
private = []


# opt-in datatypes for Series
dtype-time64-ns = []
dtype-duration-ns = []
dtype-duration-ms = []
dtype-date32 = []
dtype-date64 = []
dtype-i8 = []
dtype-i16 = []
dtype-u8 = []
dtype-u16 = []
dtype-u64 = []

[dependencies]
arrow = {git = "https://github.com/apache/arrow-rs", rev = "f26ffb3091ae355d246edc4a6fcc2c8e5b9bc570", default-features=false}
#arrow = {version = "4.1", default-features = false }
parquet = {optional = true, git = "https://github.com/apache/arrow-rs", rev = "f26ffb3091ae355d246edc4a6fcc2c8e5b9bc570"}
#parquet = {version = "4.1", default-features = false, optional = true }
polars-arrow = {version = "0.13.4", path = "../polars-arrow"}
thiserror = "1.0"
num = "^0.4"
itertools = "0.10"
unsafe_unwrap = "^0.1.0"
rayon = "1.5"
comfy-table = { version="1", optional = true}
prettytable-rs = {version = "0.8.0", optional = true }
chrono = {version = "0.4", optional = true}
rand = {version = "0.7", optional = true}
rand_distr = {version = "0.3", optional = true}
ndarray = {version = "0.13", optional = true, default_features = false}
regex = {version = "1.4", optional = true}
serde_json = {version = "1.0", optional = true }
anyhow = "1.0"
ahash = "0.7"
num_cpus = "1.1"
lazy_static = "1.4"
hashbrown = {version = "0.11", features = ["rayon"] }

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
