[package]
name = "polars-io"
version = "0.15.1"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "IO related logic for the Polars DataFrame library"
repository = "https://github.com/ritchie46/polars"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# support for arrows json parsing
json = []
# support for arrows ipc file parsing
ipc = ["arrow/ipc"]
lazy = []
parquet = ["polars-core/parquet", "parquet_lib"]
dtype-u64 = ["polars-core/dtype-u64"]
dtype-date64 = ["polars-core/dtype-date64", "polars-core/temporal"]
dtype-date32 = ["polars-core/dtype-date32"]
csv-file = ["csv-core", "memmap", "fast-float", "lexical", "arrow/csv"]
fmt = ["polars-core/plain_fmt"]
decompress = ["flate2"]
# don't use this
private = []

[dependencies]
#arrow = {git = "https://github.com/apache/arrow-rs", rev = "a1aace846f29dc4346b01289cad246dd99c2e3ed", default-features=false}
arrow = {version = "5.0", default-features = false }
#parquet_lib = {optional = true, package="parquet", git = "https://github.com/apache/arrow-rs", rev = "a1aace846f29dc4346b01289cad246dd99c2e3ed"}
parquet_lib = {version = "5.0", package="parquet", optional = true}
polars-core = {version = "0.15.1", path = "../polars-core", features = ["private"], default-features=false}
polars-arrow = {version = "0.15.1", path = "../polars-arrow"}
lexical = {version = "5.2", optional = true}
num_cpus = "1.13.0"
csv-core = {version = "0.1.10", optional=true}
regex = "1.4"
lazy_static = "1.4"
memmap = { package = "memmap2", version = "0.2.0", optional=true}
fast-float = {version = "0.2", optional=true}
anyhow = "1.0"
rayon = "1.5"
ahash = "0.7"
num = "^0.4.0"
dirs = "3.0"
simdutf8 = {version="0.1", optional=true}
flate2 = {version = "1", optional=true}

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
