[package]
name = "polars-io"
version = "0.12.0-beta.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# support for arrows json parsing
json = []
# support for arrows ipc file parsing
ipc = []
lazy = []
parquet = ["polars-core/parquet", "parquet_lib"]

[dependencies]
arrow = "2.0.0"
parquet_lib = {version = "2", optional = true, package="parquet"}
csv = "1.1"
lexical = "^5.2"
num_cpus = "1.13.0"
csv-core = "0.1.10"
memmap = "0.7.0"
fast-float = "0.1.0"
anyhow = "1.0"
rayon = "1.5"
crossbeam = "0.8"
ahash = "0.5"
num = "^0.3.1"

[dependencies.polars-core]
version = "0.12.0-beta.0"
path = "../polars-core"
default-features = false
