[package]
name = "polars-io"
version = "0.19.1"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2021"
license = "MIT"
repository = "https://github.com/pola-rs/polars"
description = "IO related logic for the Polars DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
# support for arrows json parsing
json = ["arrow/io_json"]
# support for arrows ipc file parsing
ipc = ["arrow/io_ipc", "arrow/io_ipc_compression"]
# ipc = []
lazy = []
parquet = ["polars-core/parquet", "arrow/io_parquet", "arrow/io_parquet_compression", "polars-utils"]
dtype-datetime = ["polars-core/dtype-datetime", "polars-core/temporal"]
dtype-date = ["polars-core/dtype-date"]
dtype-time = ["polars-core/dtype-time", "polars-core/temporal"]
csv-file = ["csv-core", "memmap", "lexical", "arrow/io_csv_write"]
fmt = ["polars-core/plain_fmt"]
decompress = ["flate2/miniz_oxide"]
decompress-fast = ["flate2/zlib-ng-compat"]
temporal = ["polars-core/dtype-date", "polars-core/dtype-datetime"]
# don't use this
private = []

[dependencies]
ahash = "0.7"
anyhow = "1.0"
# arrow = { package = "arrow2", git = "https://github.com/jorgecarleitao/arrow2", rev = "a4383b18955b35bef1237be05e0a747d9dca1171", default-features = false }
# arrow = { package = "arrow2", git = "https://github.com/ritchie46/arrow2", default-features = false, features = ["compute"], branch = "offset_pub" }
arrow = { package = "arrow2", version = "0.9", default-features = false }
csv-core = { version = "0.1.10", optional = true }
dirs = "4.0"
flate2 = { version = "1", optional = true, default-features = false }
lazy_static = "1.4"
lexical = { version = "6", optional = true, default-features = false, features = ["std", "parse-floats", "parse-integers"] }
memchr = "2.4"
memmap = { package = "memmap2", version = "0.5.2", optional = true }
num = "^0.4"
num_cpus = "1"
polars-arrow = { version = "0.19.1", path = "../polars-arrow" }
polars-core = { version = "0.19.1", path = "../polars-core", features = ["private"], default-features = false }
polars-utils = { version = "0.1.0", path = "../polars-utils", optional = true }
rayon = "1.5"
regex = "1.5"
simdutf8 = "0.1"

[package.metadata.docs.rs]
all-features = true
# defines the configuration attribute `docsrs`
rustdoc-args = ["--cfg", "docsrs"]
