[package]
name = "polars"
version = "0.9.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2018"
license = "MIT"
description = "DataFrame library"
repository = "https://github.com/ritchie46/polars"
readme = "../README.md"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
simd = ["arrow/simd"]
docs = []
temporal = ["chrono"]
random = ["rand", "rand_distr"]
default = ["docs", "temporal", "simd", "lazy", "parquet"]
lazy = []
parallel = []
# extra utilities for Utf8Chunked
strings = []
# support for ObjectChunked<T> (downcastable Series of any type)
object = []

[dependencies]
arrow = {version = "2", default_features = false}
thiserror = "^1.0.16"
num = "^0.3.1"
itertools = "^0.9.0"
unsafe_unwrap = "^0.1.0"
rayon = "1.5"
comfy-table = { version="1"}
chrono = {version = "^0.4.13", optional = true}
parquet = {version = "2", optional = true}
rand = {version = "0.7", optional = true}
rand_distr = {version = "0.3", optional = true}
ndarray = {version = "0.13", optional = true, default_features = false}
regex = {version = "1.4" }
anyhow = "1.0"
ahash = "0.5"
csv = "1.1"
crossbeam = "0.8"
serde_json = "1.0"
lexical = "^5.2"
num_cpus = "1.13.0"
csv-core = "0.1.10"
memmap = "0.7.0"

[package.metadata.docs.rs]
all-features = true
