[package]
name = "polars-pipe"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Lazy query engine for the Polars DataFrame library"

[dependencies]
polars-arrow = { workspace = true }
polars-core = { workspace = true, features = ["lazy", "zip_with", "random", "rows", "chunked_ids"] }
polars-io = { workspace = true, features = ["ipc"] }
polars-ops = { workspace = true, features = ["search_sorted"] }
polars-plan = { workspace = true }
polars-row = { workspace = true }
polars-utils = { workspace = true, features = ["sysinfo"] }

crossbeam-channel = { version = "0.5" }
crossbeam-queue = { version = "0.3" }
enum_dispatch = { version = "0.3" }
hashbrown = { workspace = true }
num-traits = { workspace = true }
rayon = { workspace = true }
smartstring = { workspace = true }

[build-dependencies]
version_check = { workspace = true }

[features]
csv = ["polars-plan/csv", "polars-io/csv"]
cloud = ["async", "polars-io/cloud", "polars-plan/cloud"]
parquet = ["polars-plan/parquet", "polars-io/parquet"]
ipc = ["polars-plan/ipc", "polars-io/ipc"]
async = ["polars-plan/async", "polars-io/async"]
nightly = ["polars-core/nightly", "polars-utils/nightly", "hashbrown/nightly"]
cross_join = ["polars-ops/cross_join"]
dtype-u8 = ["polars-core/dtype-u8"]
dtype-u16 = ["polars-core/dtype-u16"]
dtype-i8 = ["polars-core/dtype-i8"]
dtype-i16 = ["polars-core/dtype-i16"]
dtype-decimal = ["polars-core/dtype-decimal"]
dtype-array = ["polars-core/dtype-array"]
dtype-categorical = ["polars-core/dtype-categorical"]
trigger_ooc = []
test = ["polars-core/chunked_ids"]
