[package]
name = "polars-utils"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Private utils for the Polars DataFrame library"

[dependencies]
polars-error = { workspace = true }

ahash = { workspace = true }
bytemuck = { workspace = true }
hashbrown = { workspace = true }
indexmap = { workspace = true }
num-traits = { workspace = true }
once_cell = { workspace = true }
raw-cpuid = { workspace = true }
rayon = { workspace = true }
smartstring = { workspace = true }
stacker = { workspace = true }
sysinfo = { version = "0.30", default-features = false, optional = true }

[dev-dependencies]
rand = { workspace = true }

[build-dependencies]
version_check = { workspace = true }

[features]
bigidx = []
nightly = []
