[package]
name = "polars-utils"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Private utils for the Polars DataFrame library"

[dependencies]
polars-error = { version = "0.31.1", path = "../polars-error" }

ahash = { workspace = true }
hashbrown = { workspace = true }
num-traits = { workspace = true }
once_cell = { workspace = true }
rayon = { workspace = true }
smartstring = { workspace = true }
sysinfo = { version = "0.29", default-features = false, optional = true }

[build-dependencies]
version_check = { workspace = true }

[features]
bigidx = []
nightly = []
