[package]
name = "polars-utils"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Private utils for the Polars DataFrame library"

[dependencies]
polars-config = { workspace = true }
polars-error = { workspace = true }

argminmax = { workspace = true, features = ["float", "half"] }
bincode = { workspace = true, optional = true }
bytemuck = { workspace = true }
bytes = { workspace = true }
compact_str = { workspace = true }
either = { workspace = true }
flate2 = { workspace = true, default-features = true, optional = true }
foldhash = { workspace = true }
futures = { workspace = true, optional = true }
half = { workspace = true, optional = false, features = ["num-traits", "bytemuck"] }
hashbrown = { workspace = true }
indexmap = { workspace = true }
libc = { workspace = true }
memmap = { workspace = true, optional = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
numpy = { workspace = true, optional = true, features = ["half"] }
pyo3 = { workspace = true, optional = true }
rand = { workspace = true }
raw-cpuid = { workspace = true }
rayon = { workspace = true }
regex = { workspace = true }
rmp-serde = { workspace = true, optional = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
serde_stacker = { workspace = true, optional = true }
slotmap = { workspace = true }
stacker = { workspace = true }
sysinfo = { version = "0.37", default-features = false, features = ["system"], optional = true }
tokio = { workspace = true, optional = true, features = ["rt", "sync"] }
uuid = { workspace = true }

[dev-dependencies]
proptest = { workspace = true }
rand = { workspace = true }

[build-dependencies]
version_check = { workspace = true }

[features]
async-utils = ["dep:tokio", "dep:futures"]
mmap = ["memmap"]
bigidx = []
nightly = []
ir_serde = ["serde"]
serde = [
  "dep:serde",
  "polars-config/serde",
  "serde/derive",
  "dep:rmp-serde",
  "dep:bincode",
  "dep:flate2",
  "half/serde",
  "dep:serde_json",
  "dep:serde_stacker",
  "uuid/serde",
]
dsl-schema = ["dep:schemars", "schemars/uuid1"]
python = ["dep:pyo3", "dep:numpy", "polars-error/python"]

[lints]
workspace = true
