[package]
name = "polars-sql"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "SQL transpiler for Polars. Converts SQL to Polars logical plans"

[dependencies]
polars-core = { workspace = true, features = ["rows"] }
polars-error = { workspace = true }
polars-lazy = { workspace = true, features = ["abs", "binary_encoding", "concat_str", "cross_join", "cum_agg", "dtype-date", "dtype-decimal", "dtype-struct", "is_in", "list_eval", "log", "meta", "regex", "round_series", "sign", "string_normalize", "string_reverse", "strings", "timezones", "trigonometry"] }
polars-ops = { workspace = true }
polars-plan = { workspace = true }
polars-time = { workspace = true }
polars-utils = { workspace = true }

hex = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
sqlparser = { workspace = true }

[dev-dependencies]
# to display dataframes in case of test failures
polars-core = { workspace = true, features = ["fmt"] }

[features]
default = []
nightly = []
binary_encoding = ["polars-lazy/binary_encoding"]
bitwise = ["polars-lazy/bitwise"]
csv = ["polars-lazy/csv"]
diagonal_concat = ["polars-lazy/diagonal_concat"]
dtype-decimal = ["polars-lazy/dtype-decimal"]
ipc = ["polars-lazy/ipc"]
json = ["polars-lazy/json", "polars-plan/json", "polars-plan/extract_jsonpath"]
list_eval = ["polars-lazy/list_eval"]
parquet = ["polars-lazy/parquet"]
semi_anti_join = ["polars-lazy/semi_anti_join"]
serde = ["polars-utils/serde"]
timezones = ["polars-lazy/timezones"]
