[package]
name = "polars-runtime-{{%RT_SUFFIX%}}"
# example: 1.35.0-beta.1
version = "1.38.1"
edition = "2021"

[lib]
name = "_polars_runtime"
crate-type = ["cdylib"]

[dependencies]
libc = { workspace = true }
polars-python = { workspace = true, features = ["allocator", "c_api", "pymethods", "iejoin", "rt{{%RT_SUFFIX%}}"] }
pyo3 = { workspace = true, features = ["abi3-py310", "chrono", "extension-module", "multiple-pymethods"] }

either = { workspace = true }

[build-dependencies]
rustflags = { workspace = true }

[features]
# Features used in this crate
ffi_plugin = ["polars-python/ffi_plugin"]
csv = ["polars-python/csv"]
polars_cloud_client = ["polars-python/polars_cloud_client"]
polars_cloud_server = ["polars-python/polars_cloud_server"]
object = ["polars-python/object"]
clipboard = ["polars-python/clipboard"]
sql = ["polars-python/sql"]
trigonometry = ["polars-python/trigonometry"]
parquet = ["polars-python/parquet"]
ipc = ["polars-python/ipc"]
catalog = ["polars-python/catalog"]

# Features passed through to the polars-python crate
backtrace_filter = ["polars-python/backtrace_filter"]
avro = ["polars-python/avro"]
ipc_streaming = ["polars-python/ipc_streaming"]
is_in = ["polars-python/is_in"]
json = ["polars-python/json"]
sign = ["polars-python/sign"]
asof_join = ["polars-python/asof_join"]
cross_join = ["polars-python/cross_join"]
pct_change = ["polars-python/pct_change"]
repeat_by = ["polars-python/repeat_by"]
# also includes simd
nightly = ["polars-python/nightly"]
meta = ["polars-python/meta"]
search_sorted = ["polars-python/search_sorted"]
decompress = ["polars-python/decompress"]
regex = ["polars-python/regex"]
extract_jsonpath = ["polars-python/extract_jsonpath"]
pivot = ["polars-python/pivot"]
top_k = ["polars-python/top_k"]
propagate_nans = ["polars-python/propagate_nans"]
performant = ["polars-python/performant"]
timezones = ["polars-python/timezones"]
cse = ["polars-python/cse"]
merge_sorted = ["polars-python/merge_sorted"]
list_gather = ["polars-python/list_gather"]
list_filter = ["polars-python/list_filter"]
list_count = ["polars-python/list_count"]
array_count = ["polars-python/array_count"]
binary_encoding = ["polars-python/binary_encoding"]
list_sets = ["polars-python/list_sets"]
list_any_all = ["polars-python/list_any_all"]
array_any_all = ["polars-python/array_any_all"]
list_drop_nulls = ["polars-python/list_drop_nulls"]
list_sample = ["polars-python/list_sample"]
cutqcut = ["polars-python/cutqcut"]
rle = ["polars-python/rle"]
extract_groups = ["polars-python/extract_groups"]
cloud = ["polars-python/cloud"]
peaks = ["polars-python/peaks"]
hist = ["polars-python/hist"]
find_many = ["polars-python/find_many"]
new_streaming = ["polars-python/new_streaming"]

dtype-i8 = ["polars-python/dtype-i8"]
dtype-i16 = ["polars-python/dtype-i16"]
dtype-u8 = ["polars-python/dtype-u8"]
dtype-u16 = ["polars-python/dtype-u16"]
dtype-array = ["polars-python/dtype-array"]

dtypes = ["polars-python/dtypes"]

operations = ["polars-python/operations"]

io = ["polars-python/io"]

optimizations = ["polars-python/optimizations"]

full = [
  "ffi_plugin",
  "csv",
  "polars_cloud_client",
  "object",
  "clipboard",
  "sql",
  "trigonometry",
  "parquet",
  "ipc",
  "catalog",
  "polars-python/full",
  "performant",
]

default_alloc = ["polars-python/default_alloc"]
default = ["full", "nightly"]

[lints]
workspace = true
