[package]
name = "polars-arrow"
version.workspace = true
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Arrow interfaces for Polars DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow.workspace = true
atoi = { version = "2.0.0", optional = true }
chrono = { version = "0.4", default-features = false, features = ["std"], optional = true }
chrono-tz = { version = "0.8", optional = true }
ethnum = { version = "1.3.2", optional = true }
hashbrown.workspace = true
multiversion.workspace = true
num-traits.workspace = true
polars-error = { version = "0.31.1", path = "../polars-error" }
serde = { version = "1", features = ["derive"], optional = true }
thiserror.workspace = true

[features]
dtype-decimal = ["atoi", "ethnum"]
dtype-array = []
nightly = ["hashbrown/nightly"]
strings = []
compute = ["arrow/compute_cast"]
temporal = ["arrow/compute_temporal"]
bigidx = []
performant = []
like = ["arrow/compute_like"]
timezones = ["chrono-tz", "chrono"]
simd = []
