[package]
name = "polars-arrow"
version = "0.18.0"
authors = ["ritchie46 <ritchie46@gmail.com>"]
edition = "2021"
license = "MIT"
description = "Arrow interfaces for Polars DataFrame library"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
arrow = { package = "arrow2", git = "https://github.com/jorgecarleitao/arrow2", rev = "7add9d31bff7a65076efbf1c4f7732be702f0e2b", default-features = false }
hashbrown = "0.11"
# arrow = { package = "arrow2", git = "https://github.com/ritchie46/arrow2", default-features = false, features = ["compute"], branch = "offset_pub" }
# arrow = { package = "arrow2", version = "0.8", default-features = false }
num = "^0.4"
thiserror = "^1.0"

[features]
strings = []
compute = ["arrow/compute_cast", "arrow/compute_concatenate"]
parquet = ["arrow/io_parquet", "arrow/io_parquet_compression"]
