--prefer-binary

numpy
pandas
pyarrow

hypothesis==6.65.2

autodocsumm==0.2.9
commonmark==0.9.1
ghp-import==2.1.0
numpydoc==1.5.0
pydata-sphinx-theme==0.12.0
sphinx-autosummary-accessors==2022.4.0
sphinx-copybutton==0.5.1
sphinx-design==0.3.0
sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
