[package]
name = "polars-stream"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Private crate for the streaming execution engine for the Polars DataFrame library"

[dependencies]
async-channel = { workspace = true }
async-trait = { workspace = true }
atomic-waker = { workspace = true }
bitflags = { workspace = true }
bytes = { workspace = true }
chrono-tz = { workspace = true }
crossbeam-channel = { workspace = true }
crossbeam-deque = { workspace = true }
crossbeam-queue = { workspace = true }
crossbeam-utils = { workspace = true }
futures = { workspace = true }
memmap = { workspace = true }
num-traits = { workspace = true }
parking_lot = { workspace = true }
percent-encoding = { workspace = true }
pin-project-lite = { workspace = true }
pyo3 = { workspace = true, optional = true }
rand = { workspace = true }
rayon = { workspace = true }
recursive = { workspace = true }
schemars = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
slotmap = { workspace = true }
tokio = { workspace = true, features = ["sync"] }

arrow = { workspace = true }
memchr = { workspace = true }
polars-buffer = { workspace = true }
polars-compute = { workspace = true }
polars-config = { workspace = true }
polars-core = { workspace = true, features = ["partition_by"] }
polars-error = { workspace = true }
polars-expr = { workspace = true, features = ["rle", "peaks", "arg_where", "unique_counts", "dtype-struct"] }
polars-io = { workspace = true, features = ["async", "file_cache"] }
polars-json = { workspace = true, optional = true }
polars-mem-engine = { workspace = true }
polars-ops = { workspace = true, features = ["rle", "peaks", "unique_counts", "dtype-struct", "search_sorted"] }
polars-parquet = { workspace = true }
polars-plan = { workspace = true, features = ["cse", "rle", "peaks", "arg_where", "unique_counts", "dtype-struct"] }
polars-time = { workspace = true }
polars-utils = { workspace = true, features = ["async-utils"] }

[build-dependencies]
version_check = { workspace = true }

[features]
nightly = ["polars-expr/nightly"]
approx_unique = ["polars-plan/approx_unique", "polars-expr/approx_unique"]
bigidx = ["polars-core/bigidx"]
bitwise = ["polars-core/bitwise", "polars-plan/bitwise", "polars-expr/bitwise"]
merge_sorted = ["polars-plan/merge_sorted", "polars-mem-engine/merge_sorted"]
dynamic_group_by = [
  "polars-plan/dynamic_group_by",
  "polars-expr/dynamic_group_by",
  "polars-mem-engine/dynamic_group_by",
  "polars-time/dtype-date",
  "polars-time/dtype-datetime",
  "arrow/timezones",
]
strings = []
ipc = [
  "polars-mem-engine/ipc",
  "polars-plan/ipc",
  "polars-io/ipc",
  "dep:serde_json",
]
parquet = ["polars-mem-engine/parquet", "polars-plan/parquet", "cloud"]
csv = ["polars-mem-engine/csv", "polars-plan/csv", "polars-io/csv"]
json = [
  "polars-mem-engine/json",
  "polars-plan/json",
  "polars-io/json",
  "dep:polars-json",
]
scan_lines = [
  "polars-mem-engine/scan_lines",
  "polars-plan/scan_lines",
  "polars-io/scan_lines",
]
cloud = ["polars-mem-engine/cloud", "polars-plan/cloud", "polars-io/cloud"]
diff = ["polars-ops/diff", "polars-plan/diff", "polars-plan/abs"]
dtype-array = ["polars-core/dtype-array"]
dtype-u8 = ["polars-core/dtype-u8", "polars-plan/dtype-u8"]
dtype-u16 = ["polars-core/dtype-u16", "polars-plan/dtype-u16"]
dtype-u128 = ["polars-core/dtype-u128", "polars-plan/dtype-u128"]
dtype-i8 = ["polars-core/dtype-i8", "polars-plan/dtype-i8"]
dtype-i16 = ["polars-core/dtype-i16", "polars-plan/dtype-i16"]
dtype-i128 = ["polars-core/dtype-i128", "polars-plan/dtype-i128"]
dtype-f16 = ["polars-core/dtype-f16", "polars-plan/dtype-f16"]
dtype-date = ["polars-core/dtype-date", "polars-plan/dtype-date", "polars-time/dtype-date"]
dtype-time = ["polars-core/dtype-time", "polars-plan/dtype-time", "polars-time/dtype-time"]
dtype-datetime = ["polars-core/dtype-datetime", "polars-plan/dtype-datetime", "polars-time/dtype-datetime"]
dtype-duration = ["polars-core/dtype-duration", "polars-plan/dtype-duration", "polars-time/dtype-duration"]
dtype-categorical = ["polars-core/dtype-categorical", "polars-plan/dtype-categorical"]
dtype-decimal = ["polars-core/dtype-decimal", "polars-plan/dtype-decimal"]
dtype-extension = ["polars-core/dtype-extension", "polars-plan/dtype-extension"]
ewma = ["polars-plan/ewma"]
mode = ["polars-plan/mode"]
object = ["polars-ops/object"]
physical_plan_visualization_schema = [
  "dep:schemars",
  "polars-plan/dsl-schema",
  "polars-utils/dsl-schema",
]
python = [
  "pyo3",
  "polars-plan/python",
  "polars-mem-engine/python",
  "polars-error/python",
]
asof_join = ["polars-plan/asof_join", "polars-ops/asof_join"]
semi_anti_join = ["polars-plan/semi_anti_join", "polars-ops/semi_anti_join"]
is_in = ["polars-ops/is_in", "polars-plan/is_in", "semi_anti_join"]
replace = ["polars-ops/replace", "polars-plan/replace"]
range = ["polars-plan/range"]
top_k = ["polars-plan/top_k"]
cum_agg = ["polars-plan/cum_agg", "polars-ops/cum_agg"]

# We need to specify default features here to match workspace defaults.
# Otherwise we get warnings with cargo check/clippy.
default = ["bitwise"]

[lints]
workspace = true
