[package]
name = "polars-stream"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
description = "Private crate for the streaming execution engine for the Polars DataFrame library"

[dependencies]
atomic-waker = { workspace = true }
crossbeam-deque = { workspace = true }
crossbeam-queue = { workspace = true }
crossbeam-utils = { workspace = true }
futures = { workspace = true }
memmap = { workspace = true }
parking_lot = { workspace = true }
pin-project-lite = { workspace = true }
polars-io = { workspace = true, features = ["async"] }
polars-utils = { workspace = true }
rand = { workspace = true }
rayon = { workspace = true }
recursive = { workspace = true }
slotmap = { workspace = true }
tokio = { workspace = true, features = ["sync"] }

polars-core = { workspace = true }
polars-error = { workspace = true }
polars-expr = { workspace = true }
polars-mem-engine = { workspace = true }
polars-ops = { workspace = true }
polars-parquet = { workspace = true }
polars-plan = { workspace = true }

[build-dependencies]
version_check = { workspace = true }

[features]
nightly = []
bitwise = ["polars-core/bitwise", "polars-plan/bitwise", "polars-expr/bitwise"]
merge_sorted = ["polars-plan/merge_sorted"]
dynamic_group_by = []
strings = []
ipc = ["polars-mem-engine/ipc", "polars-plan/ipc", "polars-io/ipc"]
parquet = ["polars-mem-engine/parquet", "polars-plan/parquet"]
csv = ["polars-mem-engine/csv", "polars-plan/csv", "polars-io/csv"]
json = ["polars-mem-engine/json", "polars-plan/json", "polars-io/json"]
cloud = ["polars-mem-engine/cloud", "polars-plan/cloud", "polars-io/cloud"]
dtype-categorical = ["polars-core/dtype-categorical"]
object = ["polars-ops/object"]
python = ["polars-plan/python"]

# We need to specify default features here to match workspace defaults.
# Otherwise we get warnings with cargo check/clippy.
default = ["bitwise"]
