name: Build and test

on:
  - push
  - pull_request
jobs:
  test-rust:
    name: Build and test Rust
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-03-25
          override: true
          components: rustfmt, clippy
      - name: Install dependencies
        run: |
          cargo install cargo-hack
      - name: Run formatting checks
        run: |
          cargo fmt --all -- --check
      - name: Run linting checks
        run : |
          cd polars && cargo clippy -Z unstable-options --all-features \
          -p polars-core \
          -p polars-io \
          -p polars-lazy \
          -- -D warnings
          cargo clippy -Z unstable-options -- -D warnings
      - name: Feature test
        run: |
          cd polars && cargo hack check --each-feature --no-dev-deps
      - name: Run tests
        run: |
          cd polars && make test
      - name: Run db-benchmark test
        run: |
          wget https://github.com/ritchie46/static/raw/master/polars/db-benchmark/G1_1e3_1e2_5_0.csv.tar.gz -O gb.csv.tar.gz
          tar -xf gb.csv.tar.gz -O > gb.csv
          CSV_SRC=$(pwd)/gb.csv cargo test --features lazy --benches groupby

  test-python:
    name: Build and test Python
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-03-25
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r py-polars/build.requirements.txt
      - name: Run formatting checks
        run: |
          black --check .
      - name: Run linting
        run: |
          cd py-polars && flake8 && cd ..
      - name: Run tests
        run: |
          cd py-polars && ./tasks.sh build-run-tests && cd ..
