name: 'changes-dsl labeler'
on:
  - pull_request_target

jobs:
  changes-dsl-labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Clear existing label
        run: |
          curl -s \
          -X DELETE \
          -H 'Accept: application/vnd.github.v3+json' \
          -H 'Authorization: token ${{ github.token }}' \
          'https://api.github.com/repos/${{ github.repository }}/issues/${{ github.event.number }}/labels/changes-dsl' \
          || true

      - uses: actions/labeler@v6
        with:
          configuration-path: .github/changes-dsl-labeler-config.yml
