name: Coverage

on:
  push:
    branches:
      - master
  pull_request:
    paths:
      - 'polars/**'
      - 'py-polars/**'
      - '.github/workflows/coverage.yaml'

jobs:
  coverage:
    name: Coverage for ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu"]
    runs-on: ${{ matrix.os }}-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"
          cache: "pip"
          cache-dependency-path: "py-polars/build.requirements.txt"
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-07-24
          override: true
          profile: minimal
          components: llvm-tools-preview
      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov
      - uses: Swatinem/rust-cache@v1
        with:
          key: coverage-cargo-${{ matrix.os }}
        continue-on-error: true
      - name: Run coverage
        run: make coverage
      - uses: codecov/codecov-action@v3
        with:
          files: coverage.lcov,coverage.xml
          name: ${{ matrix.os }}
          fail_ci_if_error: true
