name: Create Python release windows macos

on:
  push:
     # Sequence of patterns matched against refs/tags
    tags:
      - 'py-polars-v*' # Push events to matching py-polars-v*, i.e. py-polars-v1.0, py-polars-v20.15.10
jobs:
  build:
    name: Create Release
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["macos-latest", "windows-latest"]
        python-version: ["3.7"]
    steps:
        - uses: actions/checkout@v3
        - name: Set up Rust
          uses: actions-rs/toolchain@v1
          with:
            override: true
            profile: minimal
        - name: Set up Python
          uses: actions/setup-python@v3
          with:
            python-version: ${{ matrix.python-version }}
        - name: Install dependencies
          run: |
            python -m pip install --upgrade pip
            pip install maturin==0.13.2
        - name: Publish wheel
          shell: bash
          env:
            MATURIN_PASSWORD: ${{ secrets.PYPI_PASS }}
            RUSTFLAGS: -C target-feature=+fxsr,+sse,+sse2,+sse3,+sse4.1,+sse4.2
          run: |
            rm py-polars/README.md
            cp README.md py-polars/README.md
            cd py-polars
            maturin publish \
            --no-sdist \
            --skip-existing \
            -o wheels \
            -i python \
            --username ritchie46
