name: Docs

on:
  push:
    branches:
      - master
jobs:
  test:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-02-12
          override: true
          components: rustfmt, clippy
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pdoc3 ghp-import numpy pyarrow
      - name: deploy docs
        run: |
          RUSTFLAGS="--cfg doc" cargo doc --all-features --package polars && \
          echo '<meta http-equiv=refresh content=0;url=polars/index.html>' > target/doc/index.html && \
          pdoc --html py-polars/pypolars/ --output-dir target/doc --template-dir py-polars/docs/templates/ --force && \
          cp -r py-polars/docs/img target/doc/img && \
          ghp-import -n target/doc && \
          git push -qf https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git gh-pages
