name: Docs

on:
  push:
    branches:
      - master
      - docs
jobs:
  test:
    name: Docs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-03-23
          override: true
          components: rustfmt, clippy
      - name: Set up Node
        uses: actions/setup-node@v2
        with: 
          node-version: 16
      - name: Build node reference
        run: | 
          cd nodejs-polars
          npm install
          npx typedoc
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r py-polars/build.requirements.txt
      - name: Build python reference
        run: |
          cd py-polars/docs
          make html
      - name: deploy docs
        run: |
          RUSTFLAGS="--cfg docsrs" cargo doc --features=docs-selection --package polars && \
          echo '<meta http-equiv=refresh content=0;url=polars/index.html>' > target/doc/index.html && \
          mkdir target/doc/py-polars
          mkdir -p target/doc/nodejs-polars/html
          cp -r py-polars/docs/build/html target/doc/py-polars
          cp -r nodejs-polars/docs/* target/doc/nodejs-polars/html
          echo ghp-import step
          ghp-import -n target/doc && \
          git push -qf https://${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git gh-pages
