name: 'DSL changed labeler'
on:
  pull_request:
    paths:
      - crates/polars-plan/dsl-schema-hashes.json
  push:
    branches:
      - main
    paths:
      - crates/polars-plan/dsl-schema-hashes.json

jobs:
  labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/labeler@v6
