name: 'DSL changed labeler'
on:
  - pull_request_target

jobs:
  dsl-changed-labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler-dsl-changed-reset.yml
          sync-labels: true
      - uses: actions/labeler@v5
        with:
          configuration-path: .github/labeler-dsl-changed.yml
