name: 'DSL changed labeler'
on:
  - pull_request_target

jobs:
  dsl-changed-labeler:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/labeler@v6
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
