name: Lint py-polars crate

on:
  pull_request:
    paths:
      - crates/**
      - Cargo.toml
      - py-polars/src/**
      - py-polars/Cargo.toml
      - .github/workflows/lint-py-polars.yml
  push:
    branches:
      - main
    paths:
      - crates/**
      - Cargo.toml
      - py-polars/src/**
      - py-polars/Cargo.toml
      - .github/workflows/lint-py-polars.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-py-polars:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: py-polars

    steps:
      - uses: actions/checkout@v4

      - name: Set up Rust
        run: rustup component add rustfmt clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: py-polars
          save-if: ${{ github.ref_name == 'main' }}

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run clippy
        run: cargo clippy -- -D warnings

      - name: Compile without default features
        run: cargo check --no-default-features
