name: Lint Python

on:
  pull_request:
    paths:
      - py-polars/**
      - .github/workflows/lint-python.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-python:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: py-polars

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Python dependencies
        run: pip install -r requirements-lint.txt

      - name: Lint Python
        run: |
          black --check .
          blackdoc --check .
          ruff . --exit-non-zero-on-fix


  lint-rust:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: py-polars

    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        run: rustup component add rustfmt clippy

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: py-polars

      - name: Lint Rust
        run: |
          cargo fmt --all -- --check
          make clippy

  mypy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.7', '3.11']
    defaults:
      run:
        working-directory: py-polars

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -r requirements-dev.txt
          pip install -r requirements-lint.txt

      # Allow untyped calls for older Python versions
      - name: Run mypy
        run: mypy ${{ (matrix.python-version == '3.7') && '--allow-untyped-calls' || '' }}
