name: Lint global

on:
  pull_request:
    paths:
      - '**.md'
      - '**.toml'
      - '.github/workflows/lint-global.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dprint/check@v2.2
