name: Lint global

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Lint Markdown and TOML
        uses: dprint/check@v2.2
      - name: Spell Check with Typos
        uses: crate-ci/typos@v1.17.2
