name: Lint Rust

on:
  pull_request:
    paths:
      - polars/**
      - polars-cli/**
      - examples/**
      - Cargo.toml
      - .github/workflows/lint-rust.yml
  push:
    branches:
      - main
    paths:
      - polars/**
      - polars-cli/**
      - examples/**
      - Cargo.toml
      - .github/workflows/lint-rust.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Rust
        run: rustup component add rustfmt clippy miri

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref_name == 'main' }}

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy on all features
        run: cargo clippy --all-features -- -D warnings

      - name: Run cargo clippy
        if: ${{ github.ref_name != 'main' }}
        run: cargo clippy -- -D warnings

      - name: Set up miri
        if: ${{ github.ref_name != 'main' }}
        working-directory: polars
        run: cargo miri setup

      - name: Run miri
        if: ${{ github.ref_name != 'main' }}
        working-directory: polars
        env:
          MIRIFLAGS: -Z miri-disable-isolation -Z miri-ignore-leaks -Z miri-disable-stacked-borrows
          POLARS_ALLOW_EXTENSION: '1'
        run: |
          cargo miri test \
          --no-default-features \
          --features object \
          -p polars-core \
          -p polars-arrow

