name: Windows tests rust

on:
  pull_request:
    paths:
      - 'polars/**'
jobs:
  test-rust:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2022-03-23
          override: true
      - name: Run tests
        run: |
          cd polars && make test && make integration-tests
