name: Test Python

on:
  pull_request:
    paths:
      - py-polars/**
      - docs/src/python/**
      - crates/**
      - .github/workflows/test-python.yml
  push:
    branches:
      - main
    paths:
      - crates/**
      - docs/src/python/**
      - py-polars/**
      - .github/workflows/test-python.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: -C debuginfo=0  # Do not produce debug symbols to keep memory usage down

defaults:
  run:
    working-directory: py-polars

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.8', '3.11']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Create virtual environment
        run: |
          python -m venv .venv
          echo "$GITHUB_WORKSPACE/py-polars/.venv/bin" >> $GITHUB_PATH

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Set up Rust
        run: rustup show

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: py-polars
          save-if: ${{ github.ref_name == 'main' }}

      - name: Install Polars
        run: |
          source activate
          maturin develop

      - name: Run tests and report coverage
        if: github.ref_name != 'main'
        run: pytest --cov -n auto --dist loadgroup -m "not benchmark and not docs"

      - name: Run tests async reader tests
        if: github.ref_name != 'main'
        run: POLARS_FORCE_ASYNC=1 pytest -m "not benchmark and not docs" tests/unit/io/

      - name: Run doctests
        if: github.ref_name != 'main'
        run: |
          python tests/docs/run_doctest.py
          pytest tests/docs/test_user_guide.py -m docs

      - name: Check import without optional dependencies
        if: github.ref_name != 'main'
        run: |
          declare -a deps=("pandas"
          "pyarrow"
          "fsspec"
          "matplotlib"
          "backports.zoneinfo"
          "connectorx"
          "pyiceberg"
          "deltalake"
          "xlsx2csv"
          )
          for d in "${deps[@]}"
          do
            echo "uninstall $i and check imports..."
            pip uninstall "$d" -y
            python -c 'import polars'
          done

  windows:
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: pip install -r requirements-dev.txt

      - name: Set up Rust
        run: rustup show

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: py-polars
          save-if: ${{ github.ref_name == 'main' }}

      - name: Install Polars
        shell: bash
        run: |
          maturin build
          pip install ../target/wheels/polars-*.whl

      - name: Run tests
        if: github.ref_name != 'main'
        run: pytest -n auto --dist loadgroup -m "not benchmark and not docs"

      - name: Check import without optional dependencies
        if: github.ref_name != 'main'
        run: |
          pip uninstall pandas -y
          python -c 'import polars'
          pip uninstall numpy -y
          python -c 'import polars'
          pip uninstall pyarrow -y
          python -c 'import polars'
