name: Windows tests

on:
  - pull_request
jobs:
  test:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install latest Rust nightly
        uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly-2021-08-30
          override: true
      - name: Run tests
        run: |
          cd polars && make test
          cd ../py-polars && ./tasks.sh build-run-tests
