name: Windows tests python

on:
  pull_request:
    paths:
      - 'py-polars/**'
      - '.github/workflows/test-windows-python.yaml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-python:
    name: Build and test Python
    runs-on: windows-latest
    defaults:
      run:
        working-directory: py-polars

    steps:
      - uses: actions/checkout@v3
      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          override: true
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.9"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r build.requirements.txt
      - name: Run tests
        shell: bash
        env:
          RUSTFLAGS: -C debuginfo=0  # Do not produce debug symbols to keep memory usage down
        run: make build-and-test-no-venv
      # test if we can import polars without any requirements
      - name: Import polars
        run: |
          pip uninstall pandas -y
          python -c "import polars"
