name: Test Pyodide

on:
  pull_request:
    paths:
      - Cargo.lock
      - py-polars/**
      - docs/source/src/python/**
      - crates/**
      - .github/workflows/test-pyodide.yml
  push:
    branches:
      - main
    paths:
      - Cargo.lock
      - crates/**
      - docs/source/src/python/**
      - py-polars/**
      - .github/workflows/test-pyodide.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: -C link-self-contained=no -C debuginfo=0
  CFLAGS: -fPIC

defaults:
  run:
    shell: bash

jobs:
  test-pyodide:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Disable incompatible features
        env:
          # Note: If you change this line, you must also copy the change to `release-python.yml`.
          FEATURES: csv|ipc|ipc_streaming|parquet|async|json|extract_jsonpath|catalog|cloud|polars_cloud|tokio|clipboard|decompress|new_streaming
        run: |
          sed -i 's/serde_json = { workspace = true, optional = true }/serde_json = { workspace = true }/' crates/polars-python/Cargo.toml
          sed -i 's/"serde_json", //' crates/polars-python/Cargo.toml
          sed -E -i "/^  \"(${FEATURES})\",$/d" crates/polars-python/Cargo.toml py-polars/Cargo.toml

      - name: Check out Emscripten v4.0.9 patches for Pyodide
        uses: actions/checkout@v4
        with:
          ref: 0.28.1
          path: pyodide-patches
          repository: pyodide/pyodide
          sparse-checkout: |
            emsdk/patches/

      - name: Build Pyodide wheel
        uses: pypa/cibuildwheel@v3.1.3
        with:
          package-dir: py-polars
          output-dir: wasm-dist
          # TODO: Add back cp312-pyodide_wasm32?
          only: cp313-pyodide_wasm32
        env:
          CIBW_BEFORE_BUILD: |
            ls -la /home/runner/.cache/cibuildwheel/emsdk-4.0.9/emsdk-4.0.9/upstream/emscripten/
            find /home/runner/.cache/cibuildwheel/emsdk-4.0.9/emsdk-4.0.9/upstream/emscripten/ -name "libdylink.js" -type f || echo "libdylink.js not found"

            echo "Output from tree command start"
            tree /home/runner/.cache/cibuildwheel/emsdk-4.0.9/emsdk-4.0.9/upstream/emscripten/
            echo "Output from tree command end"

            # Apply Emscripten patches for Pyodide
            git apply --directory=/home/runner/.cache/cibuildwheel/emsdk-4.0.9/emsdk-4.0.9/upstream/emscripten/ pyodide-patches/emsdk/patches/*.patch

            # Add Rust target
            rustup target add wasm32-unknown-emscripten
          CIBW_CONFIG_SETTINGS_PYODIDE: "build-args=--profile=dev build-args=--manifest-path=Cargo.toml"
