name: Test Python

on:
  pull_request:
    paths:
      - py-polars/**
      - docs/src/python/**
      - crates/**
      - .github/workflows/test-python.yml
  push:
    branches:
      - main
    paths:
      - crates/**
      - docs/src/python/**
      - py-polars/**
      - .github/workflows/test-python.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUSTFLAGS: -C debuginfo=0  # Do not produce debug symbols to keep memory usage down

defaults:
  run:
    working-directory: py-polars
    shell: bash

jobs:
  ubuntu:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ['3.8', '3.11', '3.12']
        include:
          - os: windows-latest
            python-version: '3.12'

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Graphviz
        uses: ts-graphviz/setup-graphviz@v1

      - name: Create virtual environment
        env:
          BIN: ${{ matrix.os == 'windows-latest' && 'Scripts' || 'bin' }}
        run: |
          python -m venv .venv
          echo "$GITHUB_WORKSPACE/py-polars/.venv/$BIN" >> $GITHUB_PATH

      - name: Install dependencies
        run: pip install -r requirements-dev.txt

      - name: Set up Rust
        run: rustup show

      - name: Cache Rust
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: py-polars
          save-if: ${{ github.ref_name == 'main' }}

      - name: Install Polars
        run: |
          source activate
          maturin develop

      - name: Run doctests
        if: github.ref_name != 'main' && matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'
        run: |
          python tests/docs/run_doctest.py
          pytest tests/docs/test_user_guide.py -m docs
  
      - name: Run tests and report coverage
        if: github.ref_name != 'main'
        env:
          # TODO: Re-enable coverage for for Ubuntu + Python 3.12 tests
          # Currently skipped due to performance issues in coverage:
          # https://github.com/nedbat/coveragepy/issues/1665
          COV: ${{ !(matrix.os == 'ubuntu-latest' && matrix.python-version == '3.12') && '--cov' || '--no-cov' }}
        run: pytest $COV -n auto --dist loadgroup -m "not benchmark and not docs"

      - name: Run tests async reader tests
        if: github.ref_name != 'main' && matrix.os != 'windows-latest'
        run: POLARS_FORCE_ASYNC=1 pytest -m "not benchmark and not docs" tests/unit/io/

      - name: Check import without optional dependencies
        if: github.ref_name != 'main' && matrix.python-version == '3.12' && matrix.os == 'ubuntu-latest'
        run: |
          declare -a deps=("pandas"
          "pyarrow"
          "fsspec"
          "matplotlib"
          "backports.zoneinfo"
          "connectorx"
          "pyiceberg"
          "deltalake"
          "xlsx2csv"
          )
          for d in "${deps[@]}"
          do
            echo "uninstall $i and check imports..."
            pip uninstall "$d" -y
            python -c 'import polars'
          done
